body {
    background-color: bisque;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
}

img {
    width: 600px;
    height: auto;
}

.immagine-menu {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.ingredienti-menu {
    text-align: center;
}

.ingredienti-menu > ul {
    display: inline-block;
}

p, ul, ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}